{{ partial "head" . }}

<div id="container">
    {{ partial "header" . }}
    <div class="outer">
        <main role="main" class="article-list">
            <section class="archives-wrap">
                <div class="archive-category-wrap">
                    <span class="archive-category">
                        <h1>{{ .Title }}
                            <a href="{{ "spotlight/index.xml" | absURL }}" type="application/rss+xml" title="Subscribe to the Applied Go Spotlight RSS feed">
                                <i class="far fa-rss-square"></i>
                            </a>
                        </h1>
                    </span>
                </div>
                <div>{{ .Description }}</div>
                <div class="archives">
                    {{ $pages := .RegularPages.ByPublishDate.Reverse }}
                    {{ range first 5 $pages }}
                        {{ .Render "summary" }}
                    {{ end }}
                </div>
                <div class="all-spotlights-link">
                    <a href="{{ "spotlight/all" | relURL }}">All Spotlights</a>
                </div>
            </section>
        </main>
    </div>
</div>

{{ partial "footer" . }}
{{ partial "foot" . }}