/* 
 * Fonts 
 */

html {
    font-family: 'Lato', 'Helvetica', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Averia Libre', 'Lato', 'Helvetica', sans-serif;
	text-decoration: none;
}

/*
 * Defaults
 */

/*
 * Links
 */


a {
	text-decoration: none;
	color: #f4bf75;
}

a:hover {
	text-decoration: none;
	color: #f4bf75;
}

a:visited {
	text-decoration: none;
	color: #f4bf75;
}

/* 
 * Adaptive layout 
 */

/* Viewport: too small */

@media only screen {
	main, .main {
		width:100%;
		max-width:100%;
		padding: .5em;
		min-height: 100px;
	}

	.table {
		display: block;
		width:100%;
		max-width:100%;
	}

	.row {
		display: block;
		width:100%;
		max-width:100%;
		padding: 0em;
	}

	.cell {
		display: block;
		width:100%;
		max-width:100%;
		padding: .5em;
	}
}

/* Viewport: just about right */

@media only screen and (min-width: 45em) {
	main, .main {
		padding: 1em;
	}

	.table {
		display: table;
	}

	.row {
		display: table-row;
		width: auto;
	}

	.cell {
		display: table-cell;
		padding: 1em;
		vertical-align: top;
		width: auto;
	}
}

/* Viewport: too big */

@media only screen and (min-width: 60em) {
	main, .main {
		max-width: 60em;
	}

	.table {
		display: table;
		width:100%;
		max-width:100%;
	}

	.row {
		display: table-row;
	}

	.cell {
		display: table-cell;
	}
}

/* Liquid boxes */

.liquid-box {

}

.liquid-cell {
	display: inline-block;
}

/*
 * Colours and style 
 */

.appliedgo-light .h1 {
	color: #f4bf75;
}

/* Header */

.appliedgo-light #site-header, .appliedgo-light .site-nav-item a {
	color: white;
	background-color: #f4bf75;
}

.appliedgo-light .site-nav-item a:hover {
	background-color: white;
	color: #f4bf75;
}

.appliedgo-light header h1 a {
	color: white;
	text-shadow: 0.05em 0.05em 0.1em #a07050;
}

.appliedgo-light .site-nav-item a {
	color: white;
}

.appliedgo-light .subscribe-item a {
	color: white;
}


h1 a {
	text-decoration: none;
}

#site-head {
	min-width: 18em;
	padding: 0.5em;
}

#site-logo {
	display: inline-block;
	margin: 0 auto 0.5rem auto;
	width: 4rem;
	height: 4rem;
}

#site-logo img {
	width: 100%; 
	height: 100%;
}

#site-title {
	display: inline-block;
	min-width: 12em;
}

#site-title h1 {
	margin-bottom: 0em;
}

#site-title #tagline {
	margin-top: 0.5em;
}

#site-nav {
  padding: 0.5em;
}

.site-nav-item a {
	padding: 0.2em;
	text-decoration: none;
}

.subscribe-item {
	display: inline-block;
}

.subscribe-item .fa {
	font-size: 2em;
}


/* Content */

.article-header {
	max-width: 33em;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.article-title {
	padding: 1em;
}


.nohype {
	display: block;
	width: auto;
	text-align: center;
	background-color: #4b5a68;
	color: white;
	padding: 1em;
}

img {
	max-width: 100%;
}

/* Footer */

.site-footer {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 0.5em;
	margin-top: 0.5em;
}
@media only screen and (min-width 45) {
	.site-footer {
		display: table;
		padding: 1em;
	}
}

.appliedgo-light .site-footer, .appliedgo-light .site-footer a {
	background-color: #4b5a68;
	color: #fff;
	text-decoration: none;
}

.site-footer .right .fa {
	font-size: 2em;
}


/* Miscellaneous stylings */

@media only screen {
	.site-footer .left {
		display: block;
		text-align: center;
	}

	.site-footer .center {
		display: block;
		text-align: center;
	}

	.site-footer .right {
		display: block;
		text-align: center;
	}
}

@media only screen and (min-width 45) {
	.site-footer .left {
		display: table-cell;
		text-align: left;
	}

	.site-footer .center {
		display: table-cell;
		text-align: center;
	}

	.site-footer .right {
		display: table-cell;
		text-align: right;
	}
}

