<header class="article-header" itemscope>
    <a href="{{ .Permalink }}">
    <h1 class="article-title" itemprop="name">
        {{ .Title }}
    </h1>
    </a>
    <div class="article-meta">
		{{ if isset .Params "categories" }}
			{{ if (gt (len .Params.categories) 0) }}
				({{ index .Params.categories 0 }})
			{{ end }}
			&middot;
		{{ end }}
        <div class="article-date">
            <i class="fa fa-calendar"></i>
            <time datetime="{{ .Date }}" itemprop="datePublished">{{ .Date.Format .Site.Params.date_format }}</time>
        </div>
            &middot;
            {{ .ReadingTime }}
            {{ with .Site.Data.l10n.articles.readingtime }}{{.}}{{end}}
        
        {{ if isset .Params "domains" }}
            {{ $domainsLen := len .Params.domains }}
            {{ if gt $domainsLen 0 }}
            <div class="article-category">
                <i class="fa fa-folder"></i>
                {{ range $k, $v := .Params.domains }}
                <a class="article-category-link" href="{{ $.Site.BaseURL }}domains/{{ . | urlize | lower }}">{{ . }}</a>
                {{ if lt $k (sub $domainsLen 1) }}&middot;{{ end }}
                {{ end }}
            </div>
            {{ end }}
        {{ end }}

        {{ if isset .Params "tags" }}
            {{ $tagsLen := len .Params.tags }}
            {{ if gt $tagsLen 0 }}
            <div class="article-category">
                <i class="fa fa-tags"></i>
                {{ range $k, $v := .Params.tags }}
                <a class="article-category-link" href="{{ $.Site.BaseURL }}tags/{{ . | urlize | lower }}">{{ . }}</a>
                {{ if lt $k (sub $tagsLen 1) }}&middot;{{ end }}
                {{ end }}
            </div>
            {{ end }}
        {{ end }}
    </div>
</header>
