<main role="main" class="main post">
    <article>
        <div class="article-inner">

            {{ partial "article_header" . }}
            <div class="article-entry">
                {{ .Content }}
            </div>
            {{ partial "article_footer" . }}
        </div>

        {{ partial "prev_next_post" . }}
    </article>

    {{ if not .Params.disable_comments }}
        <script src="https://utteranc.es/client.js"
            repo="AppliedGo/comments"
            issue-term="pathname"
            theme="preferred-color-scheme"
            crossorigin="anonymous"
            async>
        </script>
    </section>
    {{ end }}
</main>
