<footer id="site-footer">
	<div class="left">
		<a href="{{ "/licenses/" | absURL }}">&copy; {{ .Now.Format "2006" }} {{ .Site.Author.name }}</a>
		&nbsp;&middot;&nbsp;
		<a href="{{ "/imprint/" | absURL }}">Imprint/Impressum</a>
		&nbsp;&middot;&nbsp;
		<a href="{{ "/privacy/" | absURL }}">Privacy/Datenschutz</a>
	</div>	
	<div class="right">
		{{ with .Site.Params.github }}<a href="{{ . }}"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a>{{ end }}
		{{ with .Site.Params.bitbucket }}<a href="{{ . }}"><i class="fa fa-bitbucket-square fa-3x" aria-hidden="true"></i></a>{{ end }}
		{{ with .Site.Params.googleplus }}<a href="{{ . }}"><i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i></a>{{ end }}
		{{ with .Site.Params.facebook }}<a href="{{ . }}"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>{{ end }}
		{{ with .Site.Params.stackOverflow }}<a href="{{ . }}"><i class="fa fa-stack-overflow fa-3x" aria-hidden="true"></i></a>{{ end }}
		{{ with .Site.Params.linkedin }}<a href="{{ . }}"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>{{ end }}
		{{ with .Site.Params.youtube }}<a href="{{ . }}"><i class="fa fa-youtube-square fa-3x" aria-hidden="true"></i></a>{{ end }}
	</div>
</footer>
