<footer id="site-footer">
	<div class="cell left">
		<a href="{{ "/licenses/" | absURL }}">&copy; 2016-{{ now.Format "2006" }} {{ .Site.Author.name }}</a>
	</div>
	<div class="cell center">
		<a href="{{ "/imprint/" | absURL }}">Legal Notice/Impressum</a>
		&nbsp;&middot;&nbsp;
		<a href="{{ "/privacy/" | absURL }}">Privacy Policy/Datenschutzerklärung</a>
		&nbsp;&middot;&nbsp;
		<a href="{{ "/licenses/" | absURL }}">Licenses</a>
		<!-- &nbsp;&middot;&nbsp;
			<div id="wcb" class="carbonbadge wcb-d"></div>
<script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script -->
	</div>
	<div class="cell right">
		<div class="iconprefix">Find me on:</div>
		<div id="findmeon">{{ with .Site.Params.github }}<a href="{{ . }}" title="The code of the blog posts"
				target="_blank"><i class="fab fa-github-square fa-2x" aria-hidden="true"></i></a>{{ end }}
			{{ with .Site.Params.socialtwitter }}<a href="{{ . }}" title="Christoph on Twitter"><i
					class="fab fa-twitter-square fa-2x" aria-hidden="true"></i></a>{{ end }}
			{{ with .Site.Params.bitbucket }}<a href="{{ . }}" target="_blank"><i class="fab fa-bitbucket-square fa-2x"
					aria-hidden="true"></i></a>{{ end }}
			{{ with .Site.Params.googleplus }}<a href="{{ . }}" target="_blank"><i
					class="fab fa-google-plus-square fa-2x" aria-hidden="true"></i></a>{{ end }}
			{{ with .Site.Params.facebook }}<a href="{{ . }}" target="_blank"><i class="fab fa-facebook-square fa-2x"
					aria-hidden="true"></i></a>{{ end }}
			{{ with .Site.Params.stackOverflow }}<a href="{{ . }}" target="_blank"><i
					class="fab fa-stack-overflow fa-2x" aria-hidden="true"></i></a>{{ end }}
			{{ with .Site.Params.linkedin }}<a href="{{ . }}" title="Christoph on LinkedIn" target="_blank"><i
					class="fab fa-linkedin fa-2x" aria-hidden="true"></i></a>{{ end }}
			{{ with .Site.Params.youtube }}<a href="{{ . }}" title="Applied Go on YouTube" target="_blank"><i
					class="fab fa-youtube-square fa-2x" aria-hidden="true"></i></a>{{ end }}
		</div>
	</div>
</footer>