<header id="site-header" class="table">
	<div class="row">
		<div id="site-head" class="cell left">
			<div id="site-logo">
				<img src={{ .Site.Params.logo }} alt="">
			</div>
			<div id="site-title">
				<h1><a href="{{ "/" | absURL }}">{{ .Site.Title }}</a></h1>
			  {{ with .Site.Params.tagline }}<p id="tagline">{{ . | markdownify }}</p>{{ end }}
			</div>
		</div>

		<nav id="site-nav" class="cell center">
			<div class="liquid-box">
			  {{ range .Site.Menus.main }}
			  <div class="site-nav-item liquid-cell">{{ .Pre }}<a href="{{ .URL | absURL }}">{{ .Name }}</a></div>
			  {{end}}
			</div>
		</nav>

		<div id="subscribe" class="cell right">Subscribe:
			<div class="subscribe-item">
				{{ if .Site.Params.rss }}<a href="{{ "/index.xml" | absURL }}" type="application/rss+xml" title="Subscribe to the RSS feed"><i class="fa fa-rss-square fa-2x"></i></a>{{ end }}
				{{ if .Site.Params.feedly }}<a href='http://cloud.feedly.com/#subscription%2Ffeed%2Fhttp%3A%2F%2Fhttps%3A%2F%2Fappliedgo.net%2Findex.xml' target='_blank'><img id='feedlyFollow' src='http://s3.feedly.com/img/follows/feedly-follow-logo-white_2x.png' title='Follow us in Feedly' width='36' height='36' align=top></a>{{ end }}
				{{ with .Site.Params.twitter }}<a href="{{ . }}" title="Follow us on Twitter"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>{{ end }}
				{{ if .Site.Params.email }}<a href="" title="Get updates by email"><i class="fa fa-envelope-square fa-2x" aria-hidden="true"></i></a>{{ end }}
			</div>
		</div>

	    <div id="site-url" class="cell right">{{ .Site.BaseURL }}</div>
	</div>

</header>

