<!-- Non-invasive social media share buttons -->

<div class="agshare_buttons">

	<!-- Twitter - https://dev.twitter.com/web/tweet-button/web-intent -->

		<a class="agshare_twitter agshare_button" href="https://twitter.com/intent/tweet?text={{.Description}}&url={{.Permalink}}%2F%3Fsrc%3Dt&hashtags=golang,appliedgo&related=AppliedGo" target="_blank"> <i class="fab fa-twitter-square fa-2x" title="Share on X" aria-label="Share on X"></i>
	</a>

	<!-- LinkedIn - https://developer.linkedin.com/docs/share-on-linkedin -->

	<a class="agshare_linkedin agshare_button" href="https://www.linkedin.com/shareArticle?mini=true&url={{.Permalink}}%2F%3Fsrc%3Din&title={{.Title}}%20&middot;%20Applied%20Go&summary={{.Description}}" target="_blank">
		<i class="fab fa-linkedin fa-2x" title="Share on LinkedIn" aria-label="Share on LinkedIn"></i>
	</a>
</div>
