<!-- Non-invasive social media share buttons -->

	<!-- Facebook -  -->

<div class="agshare_buttons">
	<a class="agshare_fb agshare_button" href="https://www.facebook.com/sharer/sharer.php?u={{.Permalink}}%2F%3Fsrc%3Dfb" target="_blank"><i class="fa fa-facebook-square fa-2x" title="Share on Facebook" aria-hidden="true"></i></a>


	<!-- Twitter - https://dev.twitter.com/web/tweet-button/web-intent -->

	<a class="agshare_twitter agshare_button" href="https://twitter.com/intent/tweet?text={{.Title}}: {{.Description}}&url={{.Permalink}}%2F%3Fsrc%3Dt&hashtags=golang,appliedgo&related=AppliedGo" target="_blank"><i class="fa fa-twitter-square fa-2x" title="Share on Twitter" aria-hidden="true"></i></a>


	<!-- Google Plus - https://developers.google.com/+/web/share/#share-link -->

	<a class="agshare_gplus agshare_button" href="https://plus.google.com/share?url={{.Permalink}}%2F%3Fsrc%3Dgp" target="_blank"><i class="fa fa-google-plus-square fa-2x" title="Share on Google+" aria-hidden="true"></i></a>


	<!-- LinkedIn - https://developer.linkedin.com/docs/share-on-linkedin -->

	<a class="agshare_linkedin agshare_button" href="https://www.linkedin.com/shareArticle?mini=true&url={{.Permalink}}%2F%3Fsrc%3Din&title={{.Title}}%20&middot;%20Applied%20Go&summary={{.Description}}" target="_blank"><i class="fa fa-linkedin-square fa-2x" title="Share on LinkedIn" aria-hidden="true"></i></a>
</div>