<!-- div class="cleverreach">
    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
    <p class="subscription_text">Did you enjoy the article? Join my mailing list and stay informed about new posts. (One email per blog post.)</p>
    <form class="notify_me_form cr_font" action="https://eu2.cleverreach.com/f/137465-138216/wcs/" method="post" target="_blank">
        <input id="text2962795" name="1146936" rel="text" class="cr_item cr_name" placeholder="First Name (optional)" type="text" value="" />
        <input required id="text2961422" name="email" rel="email" class="cr_item cr_email" placeholder="Email*" value="" type="text" />
        <button type="submit" class="cr_item cr_button">Join</button>
        </span>
    </form>
</div -->


<div id="subscription-form">

<!-- paste subscription form code here -->

<div id="mlb2-7632326" class="ml-subscribe-form ml-subscribe-form-7632326">
    <div class="ml-vertical-align-center">
        <div class="subscribe-form ml-block-success" style="display:none">
            <div class="form-section">
                <h4>Get FREE videos from my Master Go course</h4>
                <p>Thank you! You have successfully subscribed to the Applied Go newsletter.</p>
            </div>
        </div>
        <form class="ml-block-form" action="https://app.mailerlite.com/webforms/submit/f5r1p4" data-id="746134" data-code="f5r1p4" method="POST" target="_blank">
            <div class="subscribe-form">
                <div class="form-section mb10">
                    <h4>Get FREE videos from my Master Go course</h4>
                    <p>Subscribe to the weekly newsletter and receive ten videos from my Master Go course by email. </p>
                    <p>Also receive weekly news around Go and stay updated on the Applied Go blog, screencasts, and courses.</p>
                    <p>No spam. You can unsubscribe at any time.</p>
                </div>
                <div class="form-section">
                    <div class="form-group ml-field-name">
                        <input type="text" name="fields[name]" class="form-control" placeholder="Name (optional) - how you like to get addressed" value="" autocomplete="name" x-autocompletetype="name" spellcheck="false" autocapitalize="off" autocorrect="off">
                    </div>
                    <div class="form-group ml-field-email ml-validate-required ml-validate-email">
                        <input type="email" name="fields[email]" class="form-control" placeholder="Email*" value="" autocomplete="email" x-autocompletetype="email" spellcheck="false" autocapitalize="off" autocorrect="off">
                    </div>
                </div>
                <input type="hidden" name="ml-submit" value="1" />
                <button type="submit" class="primary">
                    Yes, subscribe me!
                </button>
                <button disabled="disabled" style="display: none;" type="button" class="loading">
                    <img src="https://static.mailerlite.com/images/rolling@2x.gif" width="20" height="20" style="width: 20px; height: 20px;">
                </button>
            </div>
        </form>
        <script>
            function ml_webform_success_7632326() {
                var $ = ml_jQuery || jQuery;

                $('.ml-subscribe-form-7632326 .ml-block-success').show();
                $('.ml-subscribe-form-7632326 .ml-block-form').hide();
            };
        </script>
    </div>
</div>
<script type="text/javascript" src="https://static.mailerlite.com/js/w/webforms.min.js?v3772b61f1ec61c541c401d4eadfdd02f"></script>

<!-- end -->

<div id="subscription-link"><a href="https://landing.mailerlite.com/webforms/landing/x1s5v2">Or subscribe without receiving videos</a></div>

</div>