<style>
    .cleverreach {
        padding: 3em 0 3em 0;
        background-color: #ffffff
    }
    
    .cleverreach form {
        text-align: center;
    }
    
    .cleverreach .cr_item {
        border: none;
        display: inline-block;
        font-size: 1em;
        padding: .5em;
        border: 1pt solid #404040;
    }
    
    .cleverreach .cr_name {
        border-radius: 5px 0 0 5px;
    }
    
    .cleverreach .cr_button {
        border-radius: 0 5px 5px 0;
        background-color: #F2A14B;
    }
    
    .cleverreach .spam_disclaimer,
    .cleverreach .subscription_text {
        text-align: center;
        margin: .5em auto .5em auto;
        font-size: 1em;
        color: #404040
    }
</style>

<div class="cleverreach">
    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
    <p class="subscription_text">Do you enjoy these articles? Join my mailing list and stay informed about new posts.</p>
    <form class="notify_me_form cr_font" action="https://eu2.cleverreach.com/f/137465-143175/wcs/" method="post" target="_blank">
        <input id="text2962795" name="1146936" rel="text" class="cr_item cr_name" placeholder="First Name" type="text" value="" />
        <input required id="text2961422" name="email" rel="email" class="cr_item cr_email" placeholder="Email*" value="" type="text" />
        <button type="submit" class="cr_item cr_button">Join</button>
        </span>
    </form>
    <p class="spam_disclaimer"><b>No Spam. Only news about Applied Go.</p>
</div>