<div class="cleverreach">
    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
    <p class="subscription_text">Did you enjoy the article? Join my mailing list and stay informed about new posts. (One email per blog post.)</p>
    <form class="notify_me_form cr_font" action="https://eu2.cleverreach.com/f/137465-138216/wcs/" method="post" target="_blank">
        <input id="text2962795" name="1146936" rel="text" class="cr_item cr_name" placeholder="First Name (optional)" type="text" value="" />
        <input required id="text2961422" name="email" rel="email" class="cr_item cr_email" placeholder="Email*" value="" type="text" />
        <button type="submit" class="cr_item cr_button">Join</button>
        </span>
    </form>
</div>